{% extends 'base.html' %}
{% block content %}
    <div class="container m-4">
        <div class='row'>
            <div class="col-lg">
                Essential Architecture Automation
            </div>
        </div>
        {% if not has_session %}
        <a href='/ea/login'>Login To EA</a>
        {% else %}
        <div>You are logged in to EA</div>
        <form>
            <button class='btn btn-secondary'>Logout EA</button>
        </form>
        <form action='/ea/create/inforamtion/concepts'>
            <button class='btn btn-primary'>Create Information Concept</button>
        </form>
        {% endif %}
    </div>
{% endblock %}