{% extends 'base.html' %}
{% block content %}
    <div class="container m-4">
        <div class='row h4'>
            Essential Architecture Automation
        </div>
        {% if not has_session %}
        <a href='/ea/login'>Login To EA</a>
        {% else %}
        <div class='row'>
            <div>You are logged in to EA</div>
            <a href='/ea/login' class='btn btn-secondary ml-2'>Logout To EA</a>
            <input id='csrfToken' style='display: none' class='ml-2' value='{{ csrf_token }}' />
            <button class='btn btn-primary ml-2' onclick="createInformationConcepts()">Create Information Concept</button>
        </div>
        <div class='row mt-2'>
            <div class='col-sm-4'>
                <button id='arBtn' class='btn btn-success' onclick='loadArGraph()'>Process with Association Rule Mining</button>
            </div>
        </div>
        <div id='spinner' class="spinner-border text-primary hidden d-none" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        {% endif %}
    </div>
    <div id="mynetwork" class='border'></div>
    <script>
        function createInformationConcepts() {
            fetch('/ea/create/information/concepts', { 
                method: "POST",
                headers: {
                    'X-CSRFToken': $('#csrfToken').val()
                } 
            })
            .then(response => response.json())
            .then(data => {
                // Handle the response data as needed
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }

        function loadArGraph() {
            $('#spinner').removeClass("d-none");
            $("#arBtn").prop("disabled", true);

            const minLength = 2
            const confidence = 0.2
            const minSupport = 0.0009
            const lift = 2

            fetch(`ea/apply/armining?minSupport=${minSupport}&confidence=${confidence}&lift=${lift}&minLength=${minLength}`)
                .then(response => response.json())
                .then(data => {
                    const nodes = new vis.DataSet(data.nodes);
                    const edges = new vis.DataSet(data.edges);
    
                    const container = document.getElementById('mynetwork');
                
                    const newtworkData = {
                        nodes: nodes,
                        edges: edges
                    };
                    const options = {};
                    const network = new vis.Network(container, newtworkData, options);
                    $("#spinner").addClass("d-none");
                    $("#arBtn").prop("disabled", false);
                });
        }
    </script>    
{% endblock %}